.inner-user-card {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.user-card {
  display: flex;
  margin-left: 425px;
  border-radius: 10px;
  box-shadow: 2px 3px 2px 3px;
  width: 800px;
  height: 1350px;
  background-color: rgb(235, 154, 33);
  justify-content: center;
}

.fa-times-circle {
  color: black;
}

.fa-heart {
  color: crimson;
}

.like-button {
  margin: 100px;
}

.dislike-button {
  margin: 100px;
}
