.outer-logout-card {
  box-shadow: 2px 2px 2px 2px;
  background-color: rgb(241, 111, 11);
  width: 800px;
  margin-left: 400px;
  margin-top: 200px;
  margin-bottom: 500px;
}

.inner-logout-card {
  background-color: rgb(3, 58, 200);
}

.fa-sign-in-alt {
  color: rgb(11, 200, 11);
}

.fa-sign-out-alt {
  color: rgb(200, 12, 12);
}
