.outer-register-card {
  box-shadow: 2px 2px 2px 2px rgb(235, 151, 21);
  background-color: rgb(241, 111, 11);
  width: 800px;
  margin-left: 400px;
  margin-top: 100px;
  margin-bottom: 300px;
}

.inner-register-card {
  background-color: rgb(3, 58, 200);
}

.user-register-input-firstName,
.user-register-input-lastName,
.user-register-input-password {
  border-radius: 10px;
  height: 40px;
  width: 400px;
  margin: 10px;
}

.user-register-button {
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(3, 58, 200);
}

.user-register-button:hover {
  background-color: rgb(235, 151, 21);
}
