.page-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 60px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

.dog-left {
  transform: scaleX(-1);
  height: 60px;
  margin-left: 0;
}

.dog-right {
  height: 60px;
  margin-right: 0;
}

.intro-paragraph {
  font-size: 30px;
  font-weight: 400;
}

.disclaimer-paragraph {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 200;
}

.start-button:hover {
  background-color: rgb(235, 154, 33);
}

.start-button {
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  margin: 0;
  color: white;
  background-color: blue;
}
